@font-face {
    font-family: "pt sans caption";
    src: url(https://github.com/google/fonts/raw/master/ofl/ptsanscaption/PT_Sans-Caption-Web-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "pt sans caption bold";
    src: url(https://github.com/google/fonts/raw/master/ofl/ptsanscaption/PT_Sans-Caption-Web-Bold.ttf) format("truetype");
}

body {
    background-color: #2b2b2b;
}

div {
    font-family: "pt sans caption", sans-serif;
    color: #f9f9f9;
}

a {
    color: #f9f9f9;
    text-decoration: none;
}

#base {
    display: flex;
    flex-direction: column;
}

.acm {
    font-size: 4vw;
    font-weight: bold;
    text-align: center;
    padding-bottom: 0;
    margin-bottom: 0;
}

.officer-role {
    font-size: 20px;
    font-weight: bold;
}

.officer-email {
    font-size: 15px;
    font-style: italic;
}

.links {
    font-size: 30px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#columns {
    margin-top: 1%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    flex-grow: 1;
}

.links img {
    vertical-align: middle;
}

.links li {
    display: inline-block;
    padding-right: 20px;
    margin-top: 2%;
}

.column {
    margin-left: 1%;
    margin-right: 1%;
}

.meme {
    text-align: center;
    flex-grow: 2;
}

#meme-image, #meme-video {
    max-width: 100%;
    max-height: 600px;
    object-fit: contain;
}

.officers {
    border: solid 4px #f9f9f9;
    padding-left: 2%;
    padding-right: 2%;
    order: -1;
    flex-basis: 20%;
    flex-shrink: 0;
}

.events {
    border: solid 4px #f9f9f9;
    text-align: right;
    padding-left: 2%;
    padding-right: 2%;
    order: 1;
    flex-basis: 20%;
    flex-shrink: 0;
}

.title {
    font-size: 20px;
    font-weight: bold;
}

.desc {
    font-size: 15px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 0;
    margin-top: 0;
}

.column li {
    padding-bottom: 10px;
}

@media (max-aspect-ratio: 1/1) {
    .acm {
        font-size: 6vw;
    }

    .links {
        flex-direction: column;
    }

    #columns {
        flex-direction: column;
    }

    .events {
        order: -1;
        text-align: center;
        margin-top: 2%;
    }

    .officers {
        margin-top: 4%;
        order: 1;
        text-align: center;
    }
}
