code {
    display: block;
    overflow: scroll;
    white-space: pre;
    margin: 0 1rem;
    padding: 1rem;
    border-radius: 20px;
    background-color: #eee;
    font-family: 'DM Mono';
    font-size: 0.9em;
}

.spoiler {
    background-color: black;
    width: fit-content;
}

a {
    color: black;
}

.spoiler:hover {
    animation-name: fade-out;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes fade-out {
    from {}
    to {
        background-color: transparent;
        color: revert;
    }
}