/* In your CSS file (styles.css) */
body {
    /*background-image: url("put_background_here.png");*/
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-size: cover; /* Stretches the image to cover the entire container */
    background-attachment: fixed; /* Keeps the image fixed in the viewport during scroll */
}

iframe {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: fit-content;
    border: none;
}