@font-face {
    font-family: 'Amarna';
    src: url('/media/Amarna-Regular.woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Armana';
    src: url('/media/Amarna-Italic.woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Armana';
    src: url('/media/Amarna-Light.woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Armana';
    src: url('/media/Amarna-Bold.ttf');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/media/Montserrat-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/media/Montserrat-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/media/Montserrat-Italic.ttf');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'DM Mono';
    src: url('media/DMMono-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}