:root {
    --top-bar-height: 4rem;
}

body {
    font-family: sans-serif;
}

iframe {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: var(--top-bar-height);
    border: none;
}

div#content {
    position: fixed;
    height: calc(100vh - var(--top-bar-height));
    left: 0;
    bottom: 0;
    overflow: auto;
    width: 100%;
}

div#content * {
    position: relative;
}

footer {
    background-color: aqua;
    color: black;
    border: 5px solid green;  
    border-radius: 20px;
    padding: 5px;
    margin: 10px;
    width: 50%;
    align-items:center;
    flex:auto;
}