:root {
    --top-bar-height: 4rem;
    --total-header-height: 11rem;
    --page-width: 70rem;
    --body-color: white;
    --accent-color: #be0f34;
    --subaccent-color: black;
    --extra-color: #62c2f3;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: var(--subaccent-color, black);
    background-color: lightgray;
    margin: 0;
    
}

main {
    max-width: var(--page-width);
    margin: 0 auto;
    background-color: var(--body-color);
}

iframe {
    border: none;
}

#content h1, #content h2, #content h3 {
    color: var(--accent-color);
}

#header {
    position: sticky;
    left: 0;
    top: 0;
    width: 100%;
    height: var(--total-header-height);
    z-index: 1;
}

#footer {
    width: 100%;
    height: 12rem;
    background-color: var(--body-color);
}

div#content {
    left: 0;
    bottom: 0;
    overflow: auto;
    margin: 0 1.5rem;
}

div#content * {
    position: relative;
}