:root {
    --top-bar-height: 4rem;
    --body-color: white;
    --accent-color: #D31145;
    --subaccent-color: #231F20;
}

body {
    font-family: sans-serif;
}

iframe {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: var(--top-bar-height);
    border: none;
}

div#content {
    position: fixed;
    height: calc(100vh - var(--top-bar-height));
    left: 0;
    bottom: 0;
    overflow: auto;
    width: 100%;
    margin: 0 0.5rem;
}

div#content * {
    position: relative;
}