header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: blue;
    margin: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 4rem;
}

a {
    padding: 0.5rem;
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    color: navy;
    background-color: white;
    margin-left: 2rem;
    height: 2.5rem;
    min-width: 2.5rem;
}

a:hover {
    outline: 3px solid blue;
    outline-offset: -3px;
}

a > img {
    height: 100%;
}