.timeLocation {
    text-decoration: underline;
}

h3 {
    margin: 0;
}

.events {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
    gap: 1rem;
    justify-content: space-between;
}

.events > div {
    width: 30rem;
    height: 30rem;
    background-color: #d3d3dc;
    border: 3px solid var(--accent-color);
    border-radius: 1rem;
    padding: 0.5rem;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.events > div::-webkit-scrollbar {
    display: none;
}

.externalLink img {
    width: 1.3rem;
}