footer {
    background-color: var(--subaccent-color);
    color: var(--body-color);
    border-radius: 20px;
    padding: 5px;
    margin: 10px;
    align-items: center;
    display: flex;
    width: fit-content;
}

footer a:any-link {
    color: var(--body-color);
}

footer a:hover {
    color: var(--extra-color);
}