footer {
    background-color: var(--subaccent-color);
    color: var(--body-color);
    border-radius: 20px;
    align-items: center;
    display: flex;
    max-width: 100%;
    height: 10rem;
    padding: 0.5rem 1.5rem;
    margin: auto;
}

main {
    max-width: none !important;
}

footer a:any-link {
    color: var(--body-color);
}

footer a:hover {
    color: var(--extra-color);
}