img:not(header > img) {
    width: 15rem;
}

header {
    display: flex;
    align-items: center;
    gap: 1rem;
}

header img {
    width: 7rem;
}

header h1 {
    text-align: center;
    margin: 0;
    color: black;
}

#info, #qrs {
    display: flex;
    justify-content: space-around;
}

#info {
    gap: 1rem;
}

#info div {
    background-color: #dadada;
    flex: 1;
}

#info div *:not(h3) {
    padding: 0 1rem;
}

#info h3 {
    color: var(--body-color);
    background-color: var(--accent-color);
    padding: 0.5rem 0;
    text-align: center;
    margin-top: 0;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}