code {
    display: block;
    position: relative;
    overflow: auto;
    white-space: pre;
    margin: 0 1rem;
    padding: 1rem;
    border-radius: 20px;
    background-color: #eee;
    font-family: 'DM Mono', monospace;
    font-size: 0.9em;
}

code img {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    margin: 1rem;
}

.spoiler {
    background-color: black;
    width: fit-content;
}

a {
    color: black;
}

.spoiler:hover {
    animation-name: fade-out;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes fade-out {
    from {}
    to {
        background-color: transparent;
        color: revert;
    }
}

.bouncy {
    animation-name: bounce;
    animation-duration: 0.15s;
}

@keyframes bounce {
    50% {
        transform: scale(0.8);
    }
}